form{
    text-align: center;
}

.input-add{
    padding: 8px 80px;
    font-size: 20px;
}
.btn-add{
    padding: 8px;
    margin-left: 20px;
}
.movie-card{
    text-align: center;
    width: 450px;
    padding: 20px 0;

    border: 1px solid black;
    display: block;
    font-size: 20px;
}
.input{
    text-align: center;
    display: flex;
    margin: 50px auto;
    width: 500px;

}